.container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  min-height: calc(100vh - 65px);
  position: relative;
}

.content {
  flex: 1;
  padding: 4rem 4rem 4rem 6rem;
  min-width: 0;
  max-width: 1000px;
}

@media (max-width: 1024px) {
  .content {
    padding: 3rem;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 2rem 1.5rem;
  }
}
